@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #F1F9F9;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #F1F9F9;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #E1F2FB;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }